$main-width: 375px;

$main-font: PingFangSC-Regular, PingFang SC;
$main-fweight: 400;
$main-fbolder: 500;
$main-fsize: 14px;
$main-fbsize: 16px;



$main-color: #3983FF;
$color-gray: #999999;
$color-white: #FFFFFF;
$color-black: #333333;

